# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Celery beat files
celerybeat-schedule*
*.log
logs/

# Random / temp
0.12.0