# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual Environment

venv/
.env
*.env

# Database

*.sqlite3
db.sqlite3

# Django

*.log
local_settings.py
media/
staticfiles/

# Celery

celerybeat-schedule*

# IDE

.vscode/
.idea/

# OS Files

.DS_Store
Thumbs.db

# Logs

logs/
*.log
